@tailwind base;
@tailwind components;
@tailwind utilities;

/* import font from pulic folder */
@font-face {
  font-family: "Agraham";
  src: url("../public/Agraham.otf");
} 

:root {
  --background: #0c0c0c;
  --primary: #feb901;

  --h1-lg: 55px;
  --h1-md: 18px;
  --h1-sm: 19px;

  --p-lg: 20px;
  --p-md: 16px;
  --p-sm: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030714;
    --foreground: #ededed;
  }
}

.heading {
  text-align: center;
  
  position: relative;
  text-transform: uppercase;
  color: #FEB901;
  font-size: 60px;
  letter-spacing: 1.2vw;
  font-weight: 900;
  font-family: "Agraham", sans-serif;
  /* add moder white text shadoow */
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
  
  
  

  
   
}

/* special class */
.hero {
  height: 85vh;
}
.background-image {
  background-image: url("../public/bg-vector.svg");
  background-position: center;
  background-size: cover;

  height: 190vh;
}
.button-prime {
  display: flex;
  justify-content: center;
  background-color: #251e0b;

  border: 2px solid #feb901;

  @apply py-1.5 md:py-2 lg:py-2.5 px-5 rounded-full;
}

.buttton-secondary {
  background-color: #181818;
  color: #feb901;
  border: 2px solid #ffffff;
  @apply py-1.5 md:py-2 lg:py-2.5 px-5 rounded-full;
}
.button-third {
  background-color: #251e0b;
  color: #feb901;
  border: 2px solid #feb901;
  @apply py-1.5 md:py-2 lg:py-2.5 px-5 rounded-full;
  font-weight: 600;
}
.button-third:hover {
  background-color: #feb901;
  color: #251e0b;
}
.button-forth {
  background-color: #feb901;
  color: #251e0b;
  border: 2px solid #feb901;
  @apply py-1.5 md:py-2 lg:py-3 px-6 rounded-full;
  font-weight: 600;
}
.button-forth:hover {
  background-color: #251e0b;
  color: #feb901;
}
.techButton {
  background-color: #ecebe7;
  color: black;
  border: 2px solid #ecebe7;
  @apply py-1.5 md:py-2 lg:py-2.5 px-6 rounded-full;
}
.projectButton {
  background-color: #ecebe7;
  color: black;
  border: 2px solid #ecebe7;
  @apply py-1.5 md:py-1 lg:py-1 px-6 rounded-full;
}

#signature {
  stroke-dasharray: 899;
}
/* experience */
.experiecnce-card {
  background: linear-gradient(135deg, #030714, #17a2b8);
    border-radius: 16px;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.46);
}
.octagon {
  position: relative;
  width: 100px;
  height: 100px;
  background: #ffffff; /* Background color of the octagon */
  clip-path: polygon(
    50% 0%,
    85% 15%,
    100% 50%,
    85% 85%,
    50% 100%,
    15% 85%,
    0% 50%,
    15% 15%,
    50% 0%,
    50% 0%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3);
}
.octagon:hover {
  .tech-icon {
    scale: 1;
  }
}

.icon-container {
  font-size: 24px; /* Adjust size of the icon */
  color: white; /* Icon color */
}
/* project */
.project-btn {
  color: white;
  border: 2px solid #ecebe7;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: none; /* For testing purposes */
  -webkit-backdrop-filter: none; /* For testing purposes */
  font-size: 15px;
  font-weight: 600;

  @apply py-1.5 md:py-2 lg:py-2.5 px-6 rounded-full bg-opacity-20 font-bold;
}
/* contact section */
.contact-btn {
  display: flex;
  justify-content: center;
  background-color: #feb901;

  border: 2px solid #251e0b;

  @apply py-3.5 md:py-2 lg:py-2.5 px-7 rounded-full;
}


/* scroll bar */
/* Scrollbar track */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #feb901; /* Golden yellow color */
  border-radius: 10px;
  border: 3px solid #fff; /* White border around the thumb */
}

/* Scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #e29b01; /* Slightly darker golden color on hover */
}

/* Optional: Style for scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light grey background for the track */
  border-radius: 10px;
}

/* commaon class */
body {
  background-color: var(--background);
}
.alg-prime {
  color: var(--primary);
}

.alg-h1 {
  font-size: var(--h1-lg);
}
.alg-p {
  font-size: var(--p-lg);
}

@media screen and (max-width: 768px) {
  .alg-h1 {
    font-size: var(--h1-md);
  }
  .alg-p {
    font-size: var(--p-md);
  }
  .hero{
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .alg-h1 {
    font-size: var(--h1-sm);
  }
  .alg-p {
    font-size: var(--p-sm);
  }
  .hero{
    height: auto;
  }
  .heading{
    font-size: 37px;
  }
  .background-image{
    height: auto;
  }
  body{
    overflow-x: hidden;
  }
}

.project-card{
  /* From https://css.glass */
  background: linear-gradient(135deg, #030714, #6a1b9a);
}
.tech-icon {
  transition: transform 0.3s ease-in-out;
}

.octagon:hover .tech-icon {
  transform: scale(1.2); /* Zoom in effect */
}
